.hero {

  height: 100vh;

  background-image:
    linear-gradient(
      rgba(0,0,0,0.72),
      rgba(0,0,0,0.82)
    ),

    url("https://images.unsplash.com/photo-1542751371-adc38448a05e?q=80&w=1920&auto=format&fit=crop");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  display: flex;

  align-items: center;

  padding: 0 90px;

  position: relative;

  overflow: hidden;
}

/* HERO CONTENT */

.hero-content {

  max-width: 650px;

  color: white;

  z-index: 2;

  animation: fadeSlide 1.2s ease;
}

/* SMALL TEXT */

.small-text {

  font-size: 18px;

  letter-spacing: 5px;

  color: #d1d1d1;

  margin-bottom: 25px;

  text-transform: uppercase;
}

/* MAIN TITLE */

.hero h1 {

  font-size: 72px;

  line-height: 1.1;

  font-weight: 800;

  margin-bottom: 25px;

  animation: floatText 4s ease-in-out infinite;
}

/* DESCRIPTION */

.hero-description {

  font-size: 22px;

  line-height: 1.7;

  color: #d1d1d1;

  margin-bottom: 45px;

  max-width: 620px;
}

/* BUTTONS */

.hero-buttons {

  display: flex;

  gap: 20px;
}

.shop-btn,
.explore-btn {

  padding: 16px 36px;

  border-radius: 14px;

  font-size: 18px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.4s ease;

  border: none;
}

/* SHOP BUTTON */

.shop-btn {

  background: white;

  color: black;
}

.shop-btn:hover {

  transform: translateY(-5px) scale(1.04);

  box-shadow:
    0 0 20px rgba(255,255,255,0.35);
}

/* EXPLORE BUTTON */

.explore-btn {

  background: transparent;

  border: 2px solid rgba(255,255,255,0.3);

  color: white;

  backdrop-filter: blur(10px);
}

.explore-btn:hover {

  background: rgba(255,255,255,0.1);

  transform: translateY(-5px);
}

/* PAGE LOAD ANIMATION */

@keyframes fadeSlide {

  from {

    opacity: 0;

    transform:
      translateY(60px);
  }

  to {

    opacity: 1;

    transform:
      translateY(0);
  }
}

/* FLOATING TITLE EFFECT */

@keyframes floatText {

  0% {

    transform:
      translateY(0px);
  }

  50% {

    transform:
      translateY(-6px);
  }

  100% {

    transform:
      translateY(0px);
  }
}

/* SCROLL EFFECT */

.hero::after {

  content: "";

  position: absolute;

  bottom: -120px;

  left: -10%;

  width: 120%;

  height: 220px;

  background:
    linear-gradient(
      to top,
      #000,
      transparent
    );
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .hero {

    padding: 0 25px;
  }

  .hero h1 {

    font-size: 48px;
  }

  .hero-description {

    font-size: 18px;
  }

  .hero-buttons {

    flex-direction: column;
  }
}