.auth-page {
  min-height: 100vh;

  background:
    linear-gradient(
      to right,
      #0f0f0f,
      #1a1a1a
    );

  display: flex;

  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 400px;

  background-color: #111;

  padding: 40px;

  border-radius: 15px;

  box-shadow: 0px 0px 20px cyan;

  display: flex;

  flex-direction: column;

  gap: 20px;
}

.auth-form h1 {
  color: cyan;

  text-align: center;

  margin-bottom: 10px;
}

.auth-form input {
  padding: 15px;

  border: none;

  border-radius: 8px;

  background-color: #1f1f1f;

  color: white;

  font-size: 16px;
}

.auth-form button {
  padding: 15px;

  border: none;

  border-radius: 8px;

  background-color: cyan;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.auth-form button:hover {
  transform: scale(1.03);

  box-shadow: 0px 0px 15px cyan;
}